.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-left: 5em;
    padding-top: 10em;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .nav-logo {
    display: inline-block;
    margin: 0 0;
    height: 42px;
}

  



::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;
width: 480px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}